<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
 
<p>   
  <b>Workers:</b>
  <ul>
    <% @project.workers.each do |w| %>
      <li>
      <%= w.first_name %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
