<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Worker</th>
      <th>Assigned at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.project.name %></td>
    <td><%= assignment.worker.first_name %></td>
    <td><%= assignment.assigned_at %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
