<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @assignment.project.name %>
</p>
 
<p> 
  <b>Worker:</b>
  <%= @assignment.worker.first_name %>
</p>
<p>
  <strong>Assigned at:</strong>
  <%= @assignment.assigned_at %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
