<h1>Lista de Usuarios (<%= @cnt %>) </h1>

<%= image_tag 'https://apl.finagro.com.co/InfoAgro/Resources/Images/usuarios.png', width:"50px"  %>
<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Email</th>
      <th>Anotaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar user.email%></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
        <td><%= user.note %></td>
        <td><%= link_to 'Ver', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>
